/node_modules/
data/
/bin/
/__tests__/binance-fetch-result/*
!/__tests__/binance-fetch-result/.gitignore
.ipynb_checkpoints
*.log
nohup.out
data.binance.vision/.binance-index-cache
parquet.binance.vision/
__pycache__
backup
test.ipynb